<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TGMCUIM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangepassServlet</display-name>
    <servlet-name>ChangepassServlet</servlet-name>
    <servlet-class>ChangepassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangepassServlet</servlet-name>
    <url-pattern>/ChangepassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElectricBillServlet</display-name>
    <servlet-name>ElectricBillServlet</servlet-name>
    <servlet-class>ElectricBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectricBillServlet</servlet-name>
    <url-pattern>/ElectricBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneBillServlet</display-name>
    <servlet-name>PhoneBillServlet</servlet-name>
    <servlet-class>PhoneBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneBillServlet</servlet-name>
    <url-pattern>/PhoneBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeUpdateServlet</display-name>
    <servlet-name>BeforeUpdateServlet</servlet-name>
    <servlet-class>BeforeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeUpdateServlet</servlet-name>
    <url-pattern>/BeforeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitizenprofileServlet</display-name>
    <servlet-name>CitizenprofileServlet</servlet-name>
    <servlet-class>CitizenprofileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitizenprofileServlet</servlet-name>
    <url-pattern>/CitizenprofileServlet</url-pattern>
  </servlet-mapping>
</web-app>